
<h1>Step 1: Choose your Model and color</h1>
<div>
  <div>
    <form (change)="onChange()" [formGroup]="stepOneForm">
      <div class="row">
        <div class="col-md-1" style="    margin-right: 80px;">
          <label for="carSelect">Model:</label>
        </div>
        <div class="col-md-1">
          <select (change)="onSelectModel()" id="carSelect" name="carSelect" formControlName="carSelect" class="style-select">
            <option value="selected">Model</option>
            <option *ngFor="let item of models; index as i" value="{{i}}">{{ item?.code }}</option>
          </select>
        </div>
        <div class="col-md-1"  style="    margin-right: 80px;">
          <label for="colorSelect">Color:</label>
        </div>
        <div class="col-md-5">
          <select id="colorSelect" name="colorSelect" formControlName="colorSelect" class="style-select">
            <option value="selected">Choose Color</option>
            <option *ngFor="let color of models?.[this.stepOneForm.get('carSelect')?.value]?.colors;" value="{{color.code}}">{{color.description}}</option>
          </select>
        </div>
      </div>
    </form>
    <div *ngIf="this.stepOneForm.valid">
      <img class="carImage" src="https://interstate21.com/tesla-app/images/{{selectedCar.code}}/{{selectedCar.color}}.jpg" alt="{{selectedCar.code}}/{{selectedCar.color}}">
    </div>
  </div>
</div>
