<h1 style="margin-left: -4px;">Step 3: Summary</h1>
<div *ngIf="carResponse && carOptions && selectedCar">
  <h3 style="margin-left: -4px;">Your Tesla {{carResponse.description}}</h3>
  <div class="row" style="font-weight: bold;">
    <div class="col-6">
      {{carOptions.configs[+selectedCar.config].description}}
    </div>
    <div class="col-6">
      {{carOptions.configs[+selectedCar.config].price | currency : 'USD'}}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      Range: {{carOptions.configs[+selectedCar.config].range}} miles -
      Max speed: {{carOptions.configs[+selectedCar.config].speed}}
    </div>
  </div>

  <div class="row" style="font-weight: bold;">
    <div class="col-6">
      {{ getColor().description }}
    </div>
    <div class="col-6">
      {{ getColor().price | currency : 'USD'}}
    </div>
  </div>


  <div *ngIf="selectedCar.tow" class="row">
    <div class="col-6">
      Tow Hitch Package
    </div>
    <div class="col-6">
      $1,000.00
    </div>
  </div>

  <div *ngIf="selectedCar.yoke" class="row">
    <div class="col-6">
      Yoke Package
    </div>
    <div class="col-6">
      $1,000.00
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      TOTAL COST
    </div>
    <div class="col-6">
      {{getTotal() | currency : 'USD'}}
    </div>
  </div>

  <hr>

  <img src="https://interstate21.com/tesla-app/images/{{selectedCar.code}}/{{selectedCar.color}}.jpg"
    alt="{{selectedCar.code}}/{{selectedCar.color}}">
</div>